:root {
  --primary-color: rgb(62, 100, 255);
  --complete-color: #27aa80;
  --text-color: #172b4d;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}

html {

  background:linear-gradient(30deg,#66aa33,#99cc33,#41811e,#222222,#666666,#e8e8e8);
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}